html {
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(-45deg, #e9edf1, #bdcbe7, #93cbe1);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  margin: 0;
  padding: 0;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#root {
  background-color: #a1c3da;
  border-radius: 0.2rem;

  width: 40%;
  padding: 1rem;
  border: 1px solid #333;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  text-align: center;
  color: #333;
  margin: 0;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 2px solid #3062a9;
  border-radius: 0.5rem;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #04336b;
  outline: none;
}

button {
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3d3f44;
}

ul {
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li {
  background: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;

  display: flex;
  gap: 0.5rem;
  align-items: center;
}

li:hover {
  background-color: #f5efefd6;
}

.todo-buttons-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.todo-actions {
  display: flex;
  gap: 0.5rem;
}

.todo-text {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.todo-text input[type="text"] {
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.completed {
  text-decoration: line-through;
  color: #6c757d;
}

.highlight-even {
  background-color: #d5f7fd;
}

.highlight-odd {
  background-color: #bfe1fa;
}

.container-buttons {
  display: flex;
}

button.delete,
button.edit,
button.save,
button.cancel,
button.uncomplete {
  display: flex;
  background-color: transparent;
  border-radius: 2rem;
  padding: 0.5rem;
}

button.edit:hover,
button.cancel:hover,
button.uncomplete:hover {
  background-color: lightgray;
}

button.delete:hover {
  background-color: #d71c24;
}

button.complete {
  display: flex;
  background-color: transparent;
  border-radius: 2rem;
  padding: 0.5rem;
}

button.complete:hover,
button.save:hover {
  background-color: #71c27c;
}
